.formClassContainer {
  margin: 40px auto;

  width: 405px;

  display: flex;

  flex-direction: column;

  align-items: center;
}

.inputText {
  width: 100%;
  position: relative;
  margin-top: 20px;

  display: flex;

  justify-content: space-between;
}

.inputText > label {
  font-weight: bold;

  font-size: 14px;

  margin-right: 5px;
}

.inputText > input {
  width: 300px;

  border: none;

  border-bottom: 1px solid black;

  font-size: 14px;

  padding-left: 10px;
}

.inputText > input::placeholder {
  color: #bbb;
}

.inputText > input:focus-visible {
  outline: none;

  border-bottom: 2px solid black;
}

.buttonClass {
  width: 100px;

  font-size: 24px;

  color: white;

  background-color: var(--primary);

  border-radius: 10px;

  height: 50px;

  display: flex;

  justify-content: center;

  align-items: center;

  margin-top: 40px;

  border: none;

  cursor: pointer;
}
.inputText > p {
  position: absolute;

  bottom: -18px;

  left: 115px;

  white-space: nowrap;

  color: #f90c0c;
}

.inputText--error > label {
  color: #f90c0c;
}

.inputText--error > input,
.inputText--error > input:focus-visible {
  border-color: #f90c0c;
}

.inputText--valid > label {
  color: #04be00;
}

.inputText--valid > input,
.inputText--valid > input:focus-visible {
  border-color: #04be00;
}
.radioCheckboxClass {
  width: 134px;

  position: relative;

  display: flex;

  align-items: center;
}

.radioCheckboxClass > input {
  width: 50%;

  height: 21px;

  position: absolute;

  opacity: 0;

  cursor: pointer;

  z-index: 1;
}

.radioCheckboxClass > label {
  font-size: 14px;

  line-height: 14px;

  font-weight: bold;

  margin-left: 35px;
}

.radioCheckboxClass > span {
  position: absolute;

  height: 21px;

  width: 21px;

  border: 2px solid black;

  border-radius: 50%;
}

.radioCheckboxClass:hover > input ~ span {
  border: 2px solid var(--primary);

  box-shadow: 0 0 5px 5px rgb(103, 91, 241, 0.3);
}

.radioCheckboxClass > input:checked ~ span {
  background-color: var(--primary);
}

.radioCheckboxClass > input:checked ~ span {
  background-color: var(--primary);
}

.radioCheckboxClass > input:checked ~ label {
  color: var(--primary);
}
